{% extends 'base.html' %}
{% block title %}
{% if is_edit %}
Редактировать пост
{% else %}
Новый пост
{% endif %}
{{ group.title }}
{% endblock %}
{% block content %}
  {% if is_edit %}
    Редактировать пост
  {% else %}
    Новый пост
  {% endif %}      
  <form method="post" enctype="multipart/form-data" href="{% url 'posts:post_create' %}">
    {% csrf_token %}
      {% for field in form %}
        <label for="id_text">
          Текст поста
        <span class="required text-danger">*</span>
        </label>
        {{ form.text }}
        <small id="id_text-help" class="form-text text-muted">
          Текст нового поста
        </small>
      {% endfor %}
      <label for="id_group">
        Group
      </label>
      <select name="group" class="form-control" id="id_group">
        <option value="" selected>---------</option>
        {% for group in group_posts %}
          <option value="{{ group.pk }}" selected>{{ group.title }}</option>
        {% endfor %}
      </select>
      <small id="id_group-help" class="form-text text-muted">
        Группа, к которой будет относиться пост
      </small>
      <button type="submit" class="btn btn-primary">
        {% if is_edit %}
          Сохранить
        {% else %}
          Добавить
        {% endif %}
      </button>
  </form>
{% endblock %}
